@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@700&family=Song+Myung&display=swap');

* {
	position: relative;
}

.active {
	overflow: hidden;
}

.boardBody {
	width: 100%;
	height: auto;
	margin: 0px auto;
}

.boardCreateBody {
	width: 80%;
	max-width: 800px;
	margin: 0px auto;
}

.boardDiv {
	width: 80%;
	max-width: 860px;
	text-align: center;
	margin: 0px auto;
	margin-top: 15px;
}

.btn_layer {
	width: 100%;
	height: 25px;
}

.top_board {
	position: absolute;
	left: 0px;
	border: 0px;
	height: 30px;
	margin: -10px;
	color: white;
	background-color: #2c6246;
	font-size: 18px;
	border-radius: 7px;
}

.btn_under {
	margin-top: 15px;
	text-align: left;
}

.down_board {
	left: 0px;
	border: 0px;
	height: 30px;
	color: white;
	background-color: #2c6246;
	font-size: 20px;
	border-radius: 7px;
}

.btn_write {
	position: absolute;
	top: 0;
	right: 0px;
}

.down_write {
	left: 0px;
	border: 0px;
	height: 30px;
	color: white;
	background-color: #2c6246;
	font-size: 20px;
	border-radius: 7px;
}

.boardSearchBtn {
	background-color: #2c6246; 
	color: white; 
	border: 0px; 
	font-size: 18px; 
}

.top_board:hover, .down_board:hover, .down_write:hover {
	cursor: pointer;
	background-color: #008040;
}

.page {
	text-align: center;
	width: 100%;
}

.pagination {
	list-style: none;
	display: inline-block;
	paddinng: 0;
	margin-top: 20px;
}

.pagination li {
	display: inline;
	text-align: center;
}

.pagination a {
	float: left;
	display: block;
	font-size: 16px;
	text-decoration: none;
	padding: 5px 12px;
	color: #96a0ad;
	line-height: 1.5;
}

.first {
	margin-right: 15px;
}

.last {
	margin-left: 15px;
}

.first:hover, .last:hover, .left:hover, .right:hover {
	color: #2e9cdf;
}

.pagination a.active {
	cursor: defaiult;
	color: ffffff;
}

.pagination a:active {
	outline: none;
}

.modal .num {
	margin-left: 1px;
	padding: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.modal .num:horver {
	background-color: #2e9cdf;
	color: #ffffff;
}

.modal .num.active, .modal .num:active {
	background-color: #2e9cdf;
	cursor: pointer;
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid blue;
}

.boardTable {
	width: 100%;
}

#alcohoImg {
	width: 100%;
	max-width: 70px;
	height: 70px;
	background-color: #c5c5c5;
	display: inline-block;
}

#alcohoImg img {
	width: 100%;
	height: 100%;
}

#alcohoContent {
	width: 70%;
	height: 75px;
	display: inline-block;
}

.boardUser, .boardTitle, .boardContent {
	width: 100%;
	max-width: 70px;
	height: 30px;
	background-color: #c5c5c5;
	display: inline-block;
	text-align: center;
	line-height: 30px;
}

#userName {
	width: 70%;
	height: 30px;
	display: inline-block;
}

.score {
	margin-left: 10px;
}

#boardTitle {
	width: 70%;
	border: 1px solid #999;
}

#boardDetail {
	width: 70%;
	height: 70px;
	border: 1px solid #999;
}

#boardImgAdd {
	display: inline-block;
}

.boardLastBtn {
	margin-top: 15px;
	text-align: center;
}

.boardLastBtn button {
	color: white;
	background-color: #2c6246;
	border: 0px;
	border-radius: 4px;
	font-size: 1.3em;
}

.boardSearchBtn {
	background-color: white;
    color: black;
    border: 0px;
    font-size: 16px;
    border: 1px solid;
}

.boardSearchBtn:hover {
	cursor: pointer;
	background-color: #c0c0c0;
}


.boardTitleTd {
	width: 50%;
	text-align: left;
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.boardlist1 {
	margin:0%;
	padding: 0%;
}
.boardlist2 {
	margin:0%;
	padding:0%;
	background: #008000;
	color: white;
}

.boardTitleTd:hover {
	padding-left: 4px;
}

.col-12 {
    flex: auto;
    width: 100%;
    border: 1px solid;
}

.background_box {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 11;
}

.background_box .backgroun_main {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 100px 20px;
	background-color: rgba(0, 0, 0, .75);
	overflow: auto;
	height: auto;
}

.product_option_select {
	position: relative;
	max-width: 800px;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
	margin: 0 auto;
	z-index: 11;
} 

.product_show_box {
	width: 45%;
	display: inline-block;
	margin-bottom: 10px;
}

.product_show_box:hover {
	cursor: pointer;
	color: white;
	background-color: black;
}

.product_img {
	width: 60px;
	height: 60px;
	display: inline-block;
}

.product_name {
	display: inline-block;
	width:80%;
}

.product_img img{
	width:100%;
	height: 100%;
	object-fit : cover; /* 정사각형 유지 였나 (이미지 깔끔하게 나오기) */
}

@media (max-width:992px){
	.listoff{
	display:none;
	
	}
	
	.product_show_box {
		width: 90%;
		display: inline-block;
		margin-bottom: 10px;
	}
	
	.product_name {
		display: inline-block;
		width:60%;
	}
}

