@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@700&family=Song+Myung&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Hahmlet', serif;
}

#logo {
    width: 150px;
    height: auto;
}

#content {
    width: 100%;
    height: auto;
    
    
}
#mypage_text{
   text-align: center;
   padding-top: 100px;
   border-bottom: 1px solid black;
   padding-bottom: 20px;
}
table{
    width: 100%;
    text-align: center;
    
  
}
#title{
    text-align: center;

}
#navmenu nav a{
	 background-color: white;
	 color:#198754;
}
#navmenu nav a:hover{
	background-color: #198754;
	 color:white;
}

