@charset "utf-8";

/* div { */
/*     border: 1px solid black; */
/* } */

* {
    box-sizing: border-box;
}

#logo {
    width: 150px;
    height: auto;
}

#content {
    width: 100%;
    height: 600px;
}

/* �̹��� CSS */

  .section_s01{
   
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: 100%;
    overflow: auto;
    
}

.img_box{
  
    float: left;
    width: 500px;
    height: 500px;
}

#main_img{
  width: 100%;
    /* max-width: 486px;
    max-height: 486px; */
   
}

.txt_box{
  padding-left:30px;
  /*margin-left: 30px;*/
  width: 55%;
  float: left;
  overflow: hidden;}

  .product_name{
     font-size: 30px;
     font-weight: 300px;

   }


.rating{
  padding-top: 30px;
  padding-bottom: 20px;
}
.tbl{
     text-align: center;
     width: 100%;
     margin-top: 40px;
  }


/* �� ������ �Ǹ�ó ���� */


.seciton_s02{
    margin-top: 30px;
    width: 100%;
    /* min-width: 1200px; */
}
.drink_description_box{
  width: 100%;
}
.description{    
     padding-left:0px;
     padding-bottom: 50px;
    }   
.descr_2{margin-top: 60px;}